<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div class="Post-con">
        <h1>Helo from post pages.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore odit ut nobis enim dolorum reiciendis, laudantium nemo nulla mollitia culpa consequuntur eum velit modi magni, sit earum ipsum dignissimos at?</p>
    </div>
</body>
</html>